# === Rust / Cargo ===
/magasin/target/
/magasin/debug/
/magasin/release/
/magasin/Cargo.lock

# Rust backup files
**/*.rs.bk

# Rustc debug info
*.pdb

# === Diesel ===
diesel.toml
migrations/.temp*

# === Mutation testing ===
**/mutants.out*/

# === IDEs ===
# RustRover / IntelliJ
.idea/
*.iml

# VSCode
.vscode/

# === OS-specific ===
# macOS
.DS_Store

# Linux
*~

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# === Logs & temp ===
*.log
*.tmp
*.swp
*.bak
*.old

# === Environment variables ===
.env
.env.*
